<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{% block title %}Painel Financeiro{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header class="topbar">
    <a href="{{ url_for('main.index') }}" class="header-link">
      <h1>Painel Financeiro</h1>
    </a>
  </header>
  <main class="container">
    {% block content %}{% endblock %}
  </main>
  <script>
    window.APP_FILE = "{{ file or '' }}";
  </script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
